
/* UserRoutes.css (or your preferred styling file) */
.main-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  
}
  
  /* Apply the custom CSS for the card styling as you provided */
  /* ... (Your provided custom CSS) */
